
  .github-image {
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }
  
  .github {
    color: $white;
    font-weight: bold;
    font-size: $desktop-normal-size;
    margin-left: 10px;
  }
  
  .profile {
    color: $white;
    font-size: $desktop-normal-size;
    margin-left: 5px;
  }