.title {
    color: $weak-blue;
    font-size: $desktop-normal-size;
  }
  .title-2 {
    color: $weak-blue;
    font-size: $desktop-normal-size;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 12px;
  }
  
  .icon {
    position: absolute;
    margin: 14px;
    pointer-events: none;
    z-index: 2;
    font-size: $desktop-normal-size;
    color: $warm-grey;
  }
  .input {
    position: relative;
    z-index: 3;
    padding: 10px;
    width: 225px;
  }
  .input:placeholder-shown {
    z-index: 1;
  }

  .underline {
    box-shadow: -1px 4px 1px -3px $pale-grey;
    margin: 1px;
    padding-bottom: 10px;
  }

  span {
    font-weight: bold;
    font-size: 15px;
    background-color: #E1E4E8;
    padding: 0.2px 7px 0.2px 7px;
    border-radius: 10px;
  }