//colors

$rusty-orange: #E36209;
$slate-grey: #5C646D;
$brownish-grey: #666666;
$warm-grey: #999999;
$white: #FFFFFF;
$pale-grey: #E1E4E8;
$white-two: #E3E3E3;
$slate-grey-two: #586069;
$weak-blue: #1e90ff;

//text size

$desktop-normal-size: 20px;
$desktop-medium-size: 15px;


//text family

$text-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;